body{
    margin: 0;
    
}
.colores{
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.g-tareas{
    background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
}
.c-kim{
    background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
}


.title{
    background-image: linear-gradient(to right, #eea2a2 0%,
     #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    height: 70px;
    margin-bottom: 10px;
    margin-top: 0;
    color: white;
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
